<% provide(:title, 'Home') %>

  <div class="center jumbotron">
    <h1>Social media Steward</h1>
    <p>Finaly an easy way to manage your social interactions</p>
     <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
