<%
provide(:title, "Reddit hub" )
%>

<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'reddit_accounts'%>      
    </section>
  </aside>
  <div class="col-md-8">
    <h2>Content to come</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor auctor odio, ac vulputate urna pretium dignissim. Aliquam nec risus porta, feugiat nibh sit amet, vehicula erat. Etiam ligula orci, rhoncus nec interdum id, adipiscing tempor neque. Proin tincidunt molestie nulla, a suscipit lorem lobortis ac. Duis tortor tortor, tincidunt a vehicula blandit, congue ut quam. Fusce interdum bibendum lectus. Aenean vestibulum eget metus vitae condimentum. Aenean vitae arcu eu ipsum malesuada auctor a eu eros. Curabitur dui nunc, laoreet non pellentesque id, egestas sed felis. Sed varius suscipit massa vel placerat. In faucibus odio sit amet convallis accumsan. Aliquam non sem mauris. In rhoncus urna nec ligula iaculis, ac semper arcu eleifend. Donec eget ornare lectus.</p>

<p>Aliquam pellentesque posuere imperdiet. Nullam nec ipsum non leo varius ultrices. Vivamus suscipit id urna ut euismod. Vestibulum at odio eget metus hendrerit elementum at ullamcorper enim. Sed placerat quis dolor a eleifend. Phasellus dapibus vulputate mi nec adipiscing. Nulla eget est a est fermentum elementum euismod eu metus. Cras ut magna dui. In hac habitasse platea dictumst. Integer id auctor sapien, quis mollis diam.</p>

<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse fringilla a velit aliquam tempus. Fusce id elit at dui laoreet vehicula in nec urna. Nulla dui nunc, condimentum in laoreet vitae, semper non nulla. Donec id mattis urna. Nunc a ipsum elementum felis ultricies aliquam quis vitae purus. Nulla euismod leo sed magna lobortis luctus. Maecenas blandit mi arcu, id cursus nibh bibendum et. Etiam nunc urna, convallis eget dui adipiscing, ornare feugiat orci. Morbi pulvinar nisl a leo vulputate tristique. Nullam magna augue, convallis id ipsum sed, ultrices semper nibh. Vivamus luctus urna eu erat malesuada sagittis. Donec gravida dolor varius nisi fermentum dictum. Quisque ut ornare est, id auctor justo.</p>

<p>Etiam nec mi nec neque fringilla tincidunt. Suspendisse interdum nibh dui, eu imperdiet odio laoreet nec. In ut iaculis justo, bibendum consectetur arcu. Vivamus molestie, nibh sed tincidunt tincidunt, nisl odio mattis massa, at elementum sapien augue et dui. Duis non ullamcorper neque, ut hendrerit urna. Morbi turpis erat, rhoncus in bibendum sed, tristique non odio. Cras placerat eget ipsum sollicitudin scelerisque. Integer quis purus sit amet ante lobortis convallis. Nam eu accumsan arcu, at accumsan est. Praesent convallis magna sit amet semper interdum.</p>

<p>Vestibulum sit amet feugiat felis. Duis lobortis fermentum odio, a cursus quam elementum at. Nunc adipiscing, eros ac faucibus volutpat, quam metus suscipit sem, ac bibendum ipsum sapien sit amet augue. Nunc a ante urna. Ut facilisis lacinia diam nec convallis. Aenean vitae malesuada lacus, non rutrum magna. Praesent sed ullamcorper ipsum. Aenean aliquam at tellus a egestas. Etiam tristique gravida pulvinar. Proin metus urna, dignissim a aliquet nec, auctor ultricies odio. Morbi eget risus in est faucibus vehicula non sed dolor. Aenean dictum quam vitae enim vestibulum dapibus. Etiam vestibulum nisl metus, a gravida metus facilisis non. In facilisis urna turpis, ut placerat justo mattis sit amet.</p>
  </div>
</div>