<div class="add_account">
  <%= link_to "Link Reddit account", '/auth/reddit', class: "btn btn-sm btn-warning"%>
  <%= link_to "Link Facebook account", '/auth/facebook', class: "btn btn-sm btn-primary"%>
  <%= link_to "Link Twitter account", '/auth/twitter', class: "btn btn-sm btn-info"%>
</div>